<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosecond.shop.mapper.ShopCategoryMapper">
    <sql id="Base_Column_List" >
        t.id			,
        t.creater		,
        t.create_date	,
        t.updater		,
        t.update_date	,
        t.descript		,
        t.icon			,
        t.is_delete	AS isDelete	,
        t.name			,
        t.pid			,
        t.show_index AS showIndex	,
        t.sort			,
        t.url
    </sql>
    <select id="listPage" resultType="com.xiaosecond.shop.vo.ShopCategoryVo">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            t_shop_category t

    </select>
</mapper>
