<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaosecond.shop.mapper.ShopCartMapper">
    <sql id="Base_Column_List" >
        t.id			,
        t.count			,
        t.id_goods	AS idGoods	,
        t.id_sku	AS idSku	,
        t.id_user	AS idUser	,
        t.creater		,
        t.create_date	,
        t.updater		,
        t.update_date
    </sql>

    <!--分页查询****************start**********************************-->
    <resultMap type="com.xiaosecond.shop.view.ShopCartView" id="listPage_result">
        <result column="idUser" property="idUser" />
        <result column="idGoods" property="idGoods" />
        <result column="idSku" property="idSku" />
        <collection property="user"
                    column="{idUser=idUser}"  select="getUser">
        </collection>
        <collection property="goods"
                    column="{idGoods=idGoods}"  select="getGoods">
        </collection>
        <collection property="sku"
                    column="{idSku=idSku}"  select="getSku">
        </collection>

    </resultMap>

    <select id="listPage" resultMap="listPage_result">
        SELECT
            <include refid="Base_Column_List" />
        FROM
            t_shop_cart t
    </select>

    <select id="getUser" resultType="com.xiaosecond.shop.vo.ShopUserVo">
        SELECT
            t.id					,
            t.avatar				,
            t.create_date			,
            t.gender				,
            t.last_login_time	AS 	lastLoginTime,
            t.mobile				,
            t.nick_name				,
            t.password				,
            t.salt					,
            t.wechat_head_img_url AS wechatHeadImgUrl	,
            t.wechat_nick_name	AS 	wechatNickName,
            t.wechat_open_id    AS wechatOpenId
        FROM
            t_shop_user t
        WHERE
            t.id = #{idUser}
    </select>
    <select id="getGoods" resultType="com.xiaosecond.shop.vo.ShopGoodsVo">
        SELECT
            t.id			,
            t.creater		,
            t.create_date	,
            t.updater		,
            t.update_date	,
            t.descript		,
            t.detail		,
            t.gallery		,
            t.id_category	AS idCategory,
            t.is_delete		AS isDelete,
            t.is_hot		AS isHot,
            t.is_new		AS isNew,
            t.is_on_sale	AS isOnSale,
            t.like_num		AS likeNum,
            t.name			,
            t.pic			,
            t.price			,
            t.stock
        FROM
            t_shop_goods t
        WHERE
            t.id = #{idGoods}

    </select>
    <select id="getSku" resultType="com.xiaosecond.shop.vo.ShopGoodsSkuVo">
        SELECT
            t.id				,
            t.creater			,
            t.create_date		,
            t.updater			,
            t.update_date		,
            t.code				,
            t.code_name		AS 	codeName,
            t.id_goods	AS idGoods		,
            t.is_deleted  AS isDeleted		,
            t.marketing_price	AS marketingPrice,
            t.price				,
            t.stock
        FROM
            t_shop_goods_sku t
        WHERE
            t.id = #{idSku}
        AND
            t.is_deleted = 0
    </select>
    <!--分页查询****************END**********************************-->

    <select id="count" resultType="int">
        SELECT COUNT(0) FROM t_shop_cart
    </select>


</mapper>
